#infoDataNilaiSafetySupervisorModal .bg-nilaiSafetySupervisorInfo
{
  background-color: #0368ca !important;
}

#infoDataNilaiGeneralHrdSupervisorModal .bg-nilaiGeneralHrdSupervisorInfo
{
  background-color: #0368ca !important;
}
  
#infoDataNilaiQualitySupervisorModal .bg-nilaiQualitySupervisorInfo{
  background-color: #0368ca !important;
}

#infoDataNilaiTechnicalOnlineSupervisorModal .bg-nilaiTechnicalOnlineSupervisorInfo{
  background-color: #0368ca !important;
}
