#dataMateri .page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #0368ca;
    border-color: #0368ca;
}

#dataMateri .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 300px;
    margin: 100px auto;
    float: none;
    display: block;
}

#editDataMateriSafetyModal .bg-materiSafety {
    background-color: #0368ca !important;
}

#editDataMateriQualityModal .bg-materiQuality {
    background-color: #0368ca !important;
}

#editDataMateriGeneralHrdModal .bg-materiGeneralHrd {
    background-color: #0368ca !important;
}

#editDataMateriTechnicalModal .bg-materiTechnical {
    background-color: #0368ca !important;
}

#editDataMateriSafetyLinkModal .bg-materiSafetyLink {
    background-color: #0368ca !important;
}

